<section class="example">
    <div class="container">
        <h2 class="example__title">icons consrtuctor</h2>
        <div class="d-flex g-2 mb-2">
        <i class="icon icon_sm"></i>
        <i class="icon icon_btc icon_sm"></i>
        <i class="icon icon_elect icon_sm"></i>
        <i class="icon icon_ethereum icon_sm"></i>
        <i class="icon icon_ethos icon_sm"></i>
        <i class="icon icon_met icon_sm"></i>
        </div>
        <div class="d-flex g-2 mb-2">
        <i class="icon icon_md"></i>
        <i class="icon icon_btc icon_md"></i>
        <i class="icon icon_elect icon_md"></i>
        <i class="icon icon_ethereum icon_md"></i>
        <i class="icon icon_ethos icon_md"></i>
        <i class="icon icon_met icon_md"></i>
        </div>
        <div class="d-flex g-2 mb-2">
        <i class="icon icon_lg"></i>
        <i class="icon icon_btc icon_lg"></i>
        <i class="icon icon_elect icon_lg"></i>
        <i class="icon icon_ethereum icon_lg"></i>
        <i class="icon icon_ethos icon_lg"></i>
        <i class="icon icon_met icon_lg"></i>
        </div>
        <div class="d-flex g-2 mb-2">
        <i class="icon icon_xl"></i>
        <i class="icon icon_btc icon_xl"></i>
        <i class="icon icon_elect icon_xl"></i>
        <i class="icon icon_ethereum icon_xl"></i>
        <i class="icon icon_ethos icon_xl"></i>
        <i class="icon icon_met icon_xl"></i>
        </div>
        <div class="d-flex g-2 mb-2">
        <i class="icon icon_xxl"></i>
        <i class="icon icon_btc icon_xxl"></i>
        <i class="icon icon_elect icon_xxl"></i>
        <i class="icon icon_ethereum icon_xxl"></i>
        <i class="icon icon_ethos icon_xxl"></i>
        <i class="icon icon_met icon_xxl"></i>
        </div>
    </div>
</section>