<section class="example">
    <div class="container">
        <h2 class="example__title">buttons consrtuctor (default)</h2>
        <div class="d-flex mb-3">
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-light">Light</button>
            <button type="button" class="btn btn-dark">Dark</button>
        </div>
        <h2 class="example__title">buttons consrtuctor (default, middle)</h2>
        <div class="d-flex mb-3">
            <button type="button" class="btn btn-primary btn_md">Primary</button>
            <button type="button" class="btn btn-secondary btn_md">Secondary</button>
            <button type="button" class="btn btn-success btn_md">Success</button>
            <button type="button" class="btn btn-danger btn_md">Danger</button>
            <button type="button" class="btn btn-warning btn_md">Warning</button>
            <button type="button" class="btn btn-info btn_md">Info</button>
            <button type="button" class="btn btn-light btn_md">Light</button>
            <button type="button" class="btn btn-dark btn_md">Dark</button>
        </div>
        <h2 class="example__title">buttons consrtuctor (default, large)</h2>
        <div class="d-flex mb-3">
            <button type="button" class="btn btn-primary btn_lg">Primary</button>
            <button type="button" class="btn btn-secondary btn_lg">Secondary</button>
            <button type="button" class="btn btn-success btn_lg">Success</button>
            <button type="button" class="btn btn-danger btn_lg">Danger</button>
            <button type="button" class="btn btn-warning btn_lg">Warning</button>
            <button type="button" class="btn btn-info btn_lg">Info</button>
            <button type="button" class="btn btn-light btn_lgd">Light</button>
            <button type="button" class="btn btn-dark btn_lg">Dark</button>
        </div>
        <h2 class="example__title">buttons consrtuctor (default, extra large)</h2>
        <div class="d-flex mb-3">
            <button type="button" class="btn btn-primary btn_xl">Primary</button>
            <button type="button" class="btn btn-secondary btn_xl">Secondary</button>
            <button type="button" class="btn btn-success btn_xl">Success</button>
            <button type="button" class="btn btn-danger btn_xl">Danger</button>
            <button type="button" class="btn btn-warning btn_xl">Warning</button>
            <button type="button" class="btn btn-info btn_xl">Info</button>
            <button type="button" class="btn btn-light btn_xld">Light</button>
            <button type="button" class="btn btn-dark btn_xl">Dark</button>
        </div>
        <h2 class="example__title">buttons consrtuctor (default, extra extra large)</h2>
        <div class="d-flex mb-2">
            <button type="button" class="btn btn-primary btn_xxl">Primary</button>
            <button type="button" class="btn btn-secondary btn_xxl">Secondary</button>
            <button type="button" class="btn btn-success btn_xxl">Success</button>
            <button type="button" class="btn btn-danger btn_xxl">Danger</button>
            <button type="button" class="btn btn-warning btn_xxl">Warning</button>
            <button type="button" class="btn btn-info btn_xxl">Info</button>
            <button type="button" class="btn btn-light btn_xxl">Light</button>
            <button type="button" class="btn btn-dark btn_xxl">Dark</button>
        </div>
        <h2 class="example__title">buttons consrtuctor (default, outline)</h2>
        <div class="d-flex mb-2">
            <button type="button" class="btn btn-primary btn_outline">Primary</button>
            <button type="button" class="btn btn-secondary btn_outline">Secondary</button>
            <button type="button" class="btn btn-success btn_outline">Success</button>
            <button type="button" class="btn btn-danger btn_outline">Danger</button>
            <button type="button" class="btn btn-warning btn_outline">Warning</button>
            <button type="button" class="btn btn-info btn_outline">Info</button>
            <button type="button" class="btn btn-light btn_outline">Light</button>
            <button type="button" class="btn btn-dark btn_outline">Dark</button>
        </div>
        <h2 class="example__title">buttons consrtuctor (default, roundet)</h2>
        <div class="d-flex mb-2">
            <button type="button" class="btn btn-primary btn_roundet">Primary</button>
            <button type="button" class="btn btn-secondary btn_roundet">Secondary</button>
            <button type="button" class="btn btn-success btn_roundet">Success</button>
            <button type="button" class="btn btn-danger btn_roundet">Danger</button>
            <button type="button" class="btn btn-warning btn_roundet">Warning</button>
            <button type="button" class="btn btn-info btn_roundet">Info</button>
            <button type="button" class="btn btn-light btn_roundet">Light</button>
            <button type="button" class="btn btn-dark btn_roundet">Dark</button>
        </div>
        <h2 class="example__title">buttons consrtuctor (default, outline, roundet)</h2>
        <div class="d-flex mb-3">
            <button type="button" class="btn btn-primary btn_outline btn_roundet">Primary</button>
            <button type="button" class="btn btn-secondary btn_outline btn_roundet">Secondary</button>
            <button type="button" class="btn btn-success btn_outline btn_roundet">Success</button>
            <button type="button" class="btn btn-danger btn_outline btn_roundet">Danger</button>
            <button type="button" class="btn btn-warning btn_outline btn_roundet">Warning</button>
            <button type="button" class="btn btn-info btn_outline btn_roundet">Info</button>
            <button type="button" class="btn btn-light btn_outline btn_roundet">Light</button>
            <button type="button" class="btn btn-dark btn_outline btn_roundet">Dark</button>
        </div>
    </div>
</section>